<h1>Register Page</h1>

<div class="register-form-container">
  <%= form_with url: register_twitter_path, local: true do |f| %>
    <div class="register-twitter-container">
      <%= f.submit 'Register with Twitter', class: 'register-twitter-button' %>
    </div>
  <% end %>
</div>
