<h1>Welcome To Moditter <%= @user.username%>!</h1>

<div class="tweets-container">
  <% if !@timeline.nil? && @timeline.any? %>
      <% @timeline.each do |t| %>
          <%= render "tweets/tweet", tweet: t, user: @user %>
      <% end %>
  <% end %>
</div>
