<p class="pl-6 pt-4">Moditter is an app that helps you moderate your twitter usage. You are allowed to view 5 tweets per day. Before viewing a tweet you can see who the author is.</p>

<p class="pl-6 pt-2">We only require read access to your twitter account and we do not store your email or any other personal information.</p>
<% if session[:oauth_token].blank? %>
  <p class="pl-6 pt-6">Sign in to your twitter account to get started.</p>
  <div class="pl-6 pt-2">
    <%= link_to image_tag('twitter.png', border: 0), register_twitter_path %>
  </div>
<% end %>
