// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.register-button {
    font-size: 18px;
    color: black;
    padding: 15px 25px;
    margin-top: 10px;
    background-color: #B5D3E7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-twitter-container {
    margin-top: 10px;
}

.register-twitter-button {
    border: 1px solid #B5D3E7;
    background: #B5D3E7;
    padding: 10px 20px;
    cursor: pointer;
}

.tweets-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
}

.tweet-container {
    padding: 20px;
    border: 3px solid #5e0035;
    background-color: rgba(94, 0, 53, 0.2);
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 1px 2px 3px #d3d3d3;
    width: 100%
}

.show-tweet {
    background-color: #005c69;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
